<%- include('partials/header') %>

<div class="container-fluid">

</div>

<div id= "homepage-jumbotron" class="jumbotron">

  <div class="container-fluid">

    <i class="fas fa-search-plus fa-6x"></i>

    <h1 class="display-3"><span class="very-bold-word">Source</span><em> Me</em></h1>

    <p class="lead">Find the project for you!</p>

    <hr>

    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>

    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>


<%- include('partials/footer') %>
