body {
  color: #333333;
  background-color: #e3f6f5;
}

/* Section Backgrounds */
.coloured-section {
  background-color: #e3f6f5;
}

.white-section {
  background-color: #FFF;
}

.centered {
  text-align: center;
}

#back-home.btn {
  margin-top: 5%;
  display: inherit;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 1rem;
    text-align: center;
  }
}

/* Containers */
.container-fluid {
  padding: 3% 5%;
}

/* Title Styles */
.section-title {
  padding: 0 0 1%;
  font-size: 1.5rem;
}

.section-subtitle {
  padding: 0 0 0.75rem;
  font-size: 1rem;
}

/* Navigation Bar */
.navbar {
  padding: 1% 2% 1%;
  text-align: left;
  color: #333333;
}

.navbar-light .navbar-brand {
  font-size: 1.35rem;
  font-weight: 100;
  color: #333333;
}

.navbar-light .navbar-brand : hover {
  color: #333333;
}

.very-bold-word {
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  color: #333333;
}

#title {
  height: 70.92px;
  width: 100%;
}

/* Table Styles */
.table {
  color: #333333;
}

.table td, .table th {
  vertical-align: inherit;
}

.btn-link {
  color: #0fabbc;
}

.project-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: left;
}

/* Filters */
.filter-item {
  list-style-type: none;
}

/* Contact Me Button */
.contact-button {
  padding: 0;
}
